html {
	background-color: #000000;
}
:root {color-scheme: dark;}
p {color: #B7B7B7;}
dt {color: #B7B7B7;}
dd {color: #B7B7B7;}
ul {color: #E69138}
li {color: #B7B7B7;}
details {color: #B7B7B7;}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1 li {
	display: inline;
	color: #E69138;
	border-style: double;
}
h1 li a {
	color: #E69138;
}

h1 {
	color: #E69138;
}

.container {
	display: grid;
}
/*-------------------------*/
/* 欄位設定 */
.column {
	float: left;
	padding: 10px;
	border: 1px solid #8E7CC3;
}
/* 左右邊欄 */
.column.side {
	width: 30%;
}
/* 中間欄位 */
.column.middle {
	width: 98%;
}


.box {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 1px solid #8E7CC3;
  transition: background 0.3s, transform 0.3s;
  background: linear-gradient(0deg, #000000, #666666);
  
}
.boxhhh {
  display: flex;
  overflow:scroll;
}

a:hover {
  color: #E69138;        /* 滑鼠移上去時文字顏色變橙色 */
  text-decoration: underline; /* 加上底線 */
  background-color: #666666;  /* 背景變淡灰色 */
}
.box:hover {
  background: #666666;
  transform: scale(1.05);
  
}

.button {
  transition: background 0.3s, transform 0.2s;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10PX;
}
::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
/*邊攔*/
.column.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
.content {
  margin-left: 250px;
  padding-left: 20px;
}

/*嵌入網頁格式*/
iframe {
      width: 100%;
      height: 100vw;
    }


/*公佈欄*/
    body { font-family: "Microsoft JhengHei", Arial, sans-serif; background: #000000;}
    .tabs { flex-wrap: wrap; display: block; overflow-x: auto; white-space: nowrap; margin: 30px auto 0; width: 100%; }
    .tab { display: inline-block; padding: 12px 32px; background: #333; color: #E69138; border-radius: 8px 8px 0 0; cursor: pointer; margin-right: 4px; margin-bottom: 2px; vertical-align: top; }
    .tab.active { background: #666666; color: #F1C232; }
    .tab-content { background: #333; width: 100%; margin: 0 auto; box-shadow: 0 0 20px #76A5AF; border-radius: 0 0 8px 8px; padding-bottom:30px;}
    .my-custom-table { width: 100%; border-collapse: collapse; margin-top: 0;}
    .my-custom-table th, .my-custom-table td { border: 1px solid #8E7CC3; padding: 12px 20px; text-align: left;}
    .my-custom-table th { background: #666666; color: #F1C232; letter-spacing: 2px; }
    .my-custom-table tr:nth-child(even) { background: #000000; }
    .my-custom-table tr:hover { background: #8e7cc333; }
    .link-cell a { color: #E69138; text-decoration: underline; }
    h2 { text-align: center; color: #F1C232; margin-top: 30px; }