html {
	background-color: #000000;
}
:root {color-scheme: dark;}
p {color: #B7B7B7;}
dt {color: #B7B7B7;}
dd {color: #B7B7B7;}
ul {color: #E69138}
li {color: #B7B7B7;}
details {color: #B7B7B7;}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1 li {
	display: inline;
	color: #E69138;
	border-style: double;
}
h1 li a {
	color: #E69138;
}

h1 {
	color: #E69138;
}
a:hover {
  color: #E69138;        /* 滑鼠移上去時文字顏色變橙色 */
  text-decoration: underline; /* 加上底線 */
  background-color: #666666;  /* 背景變淡灰色 */
}




/*分頁*/
.tabs {
      display: flex;
      border-bottom: 2px solid #E69138;
    }
    .tab {
      padding: 10px 20px;
      cursor: pointer;
      border: none;
      background: none;
      outline: none;
      font-size: 16px;
      color: #B7B7B7;
    }
    .tab.active {
      border-bottom: 2px solid #F1C232;
      color: #F1C232;
      font-weight: bold;
    }
    .tab-content {
      display: none;
      padding: 20px 0;
      color: #B7B7B7;
    }
    .tab-content.active {
      display: block;
    }